<h2>回答一覧</h2>
<clr-datagrid>
    <clr-dg-column>ID</clr-dg-column>
    <clr-dg-column>アンケートID</clr-dg-column>
    <clr-dg-column>選択肢ID</clr-dg-column>
    <clr-dg-column>作成日時</clr-dg-column>
    <clr-dg-row *clrDgItems="let answer of answers" [clrDgItem]="answer">
        <clr-dg-cell>{{answer.id}}</clr-dg-cell>
        <clr-dg-cell>{{answer.surveyId}}</clr-dg-cell>
        <clr-dg-cell>{{answer.surveyItemId}}</clr-dg-cell>
        <clr-dg-cell>{{answer.created | date}}</clr-dg-cell>
    </clr-dg-row>
    <clr-dg-footer>
        <clr-dg-pagination #pagination [clrDgPageSize]=5>
            <clr-dg-page-size #clrDgPageSize [clrPageSizeOptions]="[5,10,20,50,100]">
                <label [for]="clrDgPageSize.pageSizeOptionsId">surveys per page</label>
            </clr-dg-page-size>
            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
            of {{pagination.totalItems}} answers
        </clr-dg-pagination>
    </clr-dg-footer>>
</clr-datagrid>