<h2>アンケート一覧</h2>
<clr-datagrid>
    <clr-dg-column>ID</clr-dg-column>
    <clr-dg-column>タイトル</clr-dg-column>
    <clr-dg-column>質問</clr-dg-column>
    <clr-dg-column>作成日時</clr-dg-column>
    <clr-dg-column>アクション</clr-dg-column>
    <clr-dg-row *clrDgItems="let survey of surveys" [clrDgItem]="survey">
        <clr-dg-cell>{{survey.id}}</clr-dg-cell>
        <clr-dg-cell>{{survey.title}}</clr-dg-cell>
        <clr-dg-cell>{{survey.question}}</clr-dg-cell>
        <clr-dg-cell>{{survey.created | date}}</clr-dg-cell>
        <clr-dg-cell>
            <div class="btn-group btn-primary">
                <a [routerLink]="['/survey/', survey.id]" class="btn">回答</a>
                <button class="btn btn-success" (click)="onEditSurvey(survey)">編集</button>
                <button class="btn btn-danger" (click)="onDeleteSurvey(survey)">削除</button>
            </div>
        </clr-dg-cell>
    </clr-dg-row>
    <clr-dg-footer>
        <clr-dg-pagination #pagination [clrDgPageSize]=5>
            <clr-dg-page-size #clrDgPageSize [clrPageSizeOptions]="[5,10,20,50,100]">
                <label [for]="clrDgPageSize.pageSizeOptionsId">surveys per page</label>
            </clr-dg-page-size>
            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
            of {{pagination.totalItems}} surveys
        </clr-dg-pagination>
    </clr-dg-footer>>
</clr-datagrid>
<button class="btn" (click)="onAddSurvey()">アンケート追加</button>

<app-survey-add [addModalOpen]="addSurveyModal" (reloadSurveys)="endModal()"></app-survey-add>
<app-survey-edit [surveyItems]="selectedSurveyItems" [survey]="selectedUpdateSurvey"
    (reloadSurveys)="getSurveys()"></app-survey-edit>
<app-survey-delete [survey]="selectedDeleteSurvey"
    (reloadSurveys)="getSurveys()"></app-survey-delete>